/*Right Side Sticky CSS*/

.sticky-container{
		
		padding: 0px;
		margin: 0px;
		position: fixed;
		right: -119px;
		top:130px;
		width: 200px;
     z-index: 9999;

	}

	.sticky li{
		list-style-type: none;
		background-color: white;
		color: #efefef;
		height: 30px;
		padding: 0px;
		margin: 0px 0px 1px 0px;
		
		transition:all 0.25s ease-in-out;
		cursor: pointer;
        z-index: 9999;
		 

	}

	.sticky li:hover{
		margin-left: -115px;
		background:#FF214F;
		color:white;
	
	}

	

	.sticky li p{
		
		text-transform: uppercase;
        padding-bottom: 3px;
		

	}
	.sticky li i{
	     display:inline-block;
		 font-size:15px;
		 padding:8px 10px 0px;
		 color:#7F7F7F;
	}
	.sticky li p{
	       display:inline-block;
           font-size: 10px;
          font-family: 'Montserrat', sans-serif;
	}


/*Header Area CSS*/

header {
	position: absolute;
	right: 0;
	left: 0;
    z-index: 9999;
	
}
.navbar {
    padding: 20px 0px 20px;;
}
.nav-item{
        padding: 0px 8px 0px;
}
.nav-link{
    color: #232323!important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    
}
.nav-link:hover{
    color:#7B7774!important;
}
.first_item{
   color: #7B7774!important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none!important;
    font-weight: 600;
    font-size: 12px;
   
   
}
.search_icon i{
    border-left: 1px solid #7B7774;
    padding-left: 20px;
}

/*Banner Area CSS*/
.banner_area{
    z-index: 0;
}

.banner_item {
   background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
    
	
}
.banner_content{
    padding: 40px 0px 0px;
    
}
.banner_content h1{
    font-size: 70px;
    padding: 65px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #232323;
    font-weight: bold;
}

.banner_content p{
    color: #232323;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0px 15px;
}
.button{
    padding-bottom: 80px;
}
.purchase_btn{
  text-transform: uppercase;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
    background: #232323;
    border-radius: 30px;
    padding: 8px 18px 8px;
    color: white;
    border: 2px solid #232323;
    font-size: 13px!important;
    
}
.purchase_btn:hover{
    background: none!important;
    color:#232323; 
}

    


.download_btn{
    text-transform: uppercase;
    float: left;
   
    margin-right: 10px;
    background: none;
    border-radius: 30px;
     padding: 8px 18px 8px;
    color:  #232323;
    border:  2px solid #232323;
     font-size: 13px!important;
}
.download_btn:hover{
    background: #232323;
    color:white;
}
.banner_right img{
   padding: 37px 0px 0px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C2BBB6;
}
.carousel-indicators .active{
    background-color: #232323;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
}


























/*Footer Area CSS*/

.main_footer{
    background: #232323;
    padding-bottom: 18px;
}
.logo_part{
    padding: 75px 0px 50px;
}
.logo_part p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #6f6f6f;
    padding: 20px 0px 10px;
}
.logo_part a{
    padding: 0px 5px 0px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo_part i:hover{
    color: #AF1F4F;
}
.additional_link{
     padding: 75px 0px 50px;
    
}
.additional_border{
    border-left: 1px solid #363636;
    padding-left: 40px;
     border-right: 1px solid #363636;
}
.additional_link h5{
     font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #939393;
    text-transform: uppercase;
    font-weight: 600;
}
.additional_link p{
    margin: 0px!important;
    
   
    
  
}
.additional_link a{
     text-decoration: none;
     color: #6f6f6f;
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.additional_link a:hover{
    color: #AF1F4F;
}
.contact_border{
   
    padding-left: 10px;
    border-right: 1px solid #363636;
    
}
.contact_info{
     padding: 75px 0px 50px;
}
.contact_info h5{
     font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #939393;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: 600;
}
.contact_info p{
     margin: 0px!important;
    color: #6f6f6f;
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.contact_info a{
    color: #6f6f6f;
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
.contact_info a:hover{
     color: #AF1F4F; 
}
.instagram_content{
    padding: 75px 0px 0px;
}
.instagram_content h5{
     font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #939393;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}
.instagram_img img{
    margin-bottom: 7px;
    margin-right: 2px;
    width: 60px;
    position: relative;
}


.footer_bottom_area{
    background: #141414;
}
.footer_bottom_content{
    padding: 45px 0px 45px;
}
.footer_bottom_content p{
    color: #6f6f6f;
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.footer_bottom_content span:hover{
    color: #F7204D; 
}
.instagram_img img::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   background-color: rgba(222, 18, 58, 0.96);
    opacity: 0;
}
.instagram_img img:hover .instagram_img img::before {
     content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   background-color: rgba(222, 18, 58, 0.96);
    opacity: .6;
}



/*Right Sidebar CSS*/

.side_icon{
    cursor: pointer;
    font-size: 12px;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #FFFFFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.managing_director_area{
    padding: 0px 0px 50px;
}
.managing_director_area h2{
    text-transform: uppercase;
    color: #22AAD1;
    font-size: 35px;
    padding-top: 10px;
}
.managing_director_area h4{
    color: #22AAD1;
    font-size: 25px;
}
.managing_director_area p{
    font-size: 20px;
     font-family: 'Roboto', sans-serif;
    color: #6E6F7C;
}
.business_director_area{
     padding: 0px 0px 50px;
}
.business_director_area h2{
    text-transform: uppercase;
    color: #22AAD1;
    font-size: 35px;
    padding-top: 10px;
}
.business_director_area h4{
     color: #22AAD1;
    font-size: 25px;
}
.business_director_area p{
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
    color: #6E6F7C;
}
.chief_excutive_area h2{
    text-transform: uppercase;
    color: #22AAD1;
    font-size: 35px;
    padding-top: 10px;
}
.chief_excutive_area h4{
    color: #22AAD1;
    font-size: 25px;
}
.chief_excutive_area p{
     font-size: 20px;
     font-family: 'Roboto', sans-serif;
    color: #6E6F7C;
}
